In [18]:
import pandas as pd

data_csv = pd.read_csv('recs2009_public.csv')
data = pd.DataFrame(data_csv)
(data.head())

,DOEID,REGIONC,DIVISION,REPORTABLE_DOMAIN,TYPEHUQ,NWEIGHT,HDD65,CDD65,HDD30YR,CDD30YR,...,SCALEEL,KAVALNG,PERIODNG,SCALENG,PERIODLP,SCALELP,PERIODFO,SCALEFO,PERIODKR,SCALEKER
0,1,2,4,12,2,2471.679705,4742,1080,4953,1271,...,0,-2,-2,-2,-2,-2,-2,-2,-2,-2
1,2,4,10,26,2,8599.172010,2662,199,2688,143,...,0,1,1,0,-2,-2,-2,-2,-2,-2
2,3,1,1,1,5,8969.915921,6233,505,5741,829,...,0,3,5,3,-2,-2,-2,-2,-2,-2
3,4,2,3,7,2,18003.639600,6034,672,5781,868,...,3,3,5,3,-2,-2,-2,-2,-2,-2
4,5,1,1,1,3,5999.605242,5388,702,5313,797,...,0,1,1,0,-2,-2,-2,-2,-2,-2

In [19]:
info = pd.read_csv('public_layout.csv')
info_df = pd.DataFrame(info)
data = pd.read_csv('recs2009_public.csv')
df = pd.DataFrame(data)

In [20]:
#renaming columns
type_of_energy = ['LPG Propane', 'Natural Gas', 'Fuel Oil', 'Kerosene', 'Wood'] #row'lar bunlar olcak
purpose_of_usage = ['Space heating', 'Secondary Space heating','Air Conditioning', 'Water heating', 'Refridgerators', 'Appliances, Electronics, Lighting and Miscellaneous uses']  #row'lar bunlar olcak

kwh_list= ['SPH', 'WTH', 'OTH', 'COL', 'RFG']
space_heating= 'SPH'
water_heating= 'WTH'
other_purposes = 'OTH'
air_conditioning = 'COL'
refrigerator = 'RFG'


kwh  = 'KWH'
btu = 'BTU'
cubic_feet = 'CUFEET'
gallon = 'GALLON'

lpg_propane = 'LP'
natural_gas = 'NG'
fossil = 'FO'
kerosene = 'KER'
electricity = 'EL'


electricity_kwh_list = []
for i in range(0, len(kwh_list)):
    text = str('KWH' + kwh_list[i])
    electricity_kwh_list.append(text)

print(electricity_kwh_list)

['KWHSPH', 'KWHWTH', 'KWHOTH', 'KWHCOL', 'KWHRFG']

In [69]:
unit_energy = ['BTU', 'CUFEET', 'GALLON']
type_of_energy=['LP', 'NG', 'FO', 'KER', 'EL']
purpose_list = ['SPH', 'WTH', 'OTH']
energy_var_list = ['DOEID']


unit_energy = ['BTU', 'GALLON']
type_of_energy=['LP', 'NG', 'FO', 'KER', 'EL']
purpose_list = ['SPH', 'WTH', 'OTH']


for energy in unit_energy:
    for type in type_of_energy:
        name= energy+type
        for purpose in purpose_list:
            new_name =name+purpose
            energy_var_list.append(new_name)


energy_var_list.remove('GALLONNGSPH')
energy_var_list.remove('GALLONNGWTH')
energy_var_list.remove('GALLONNGOTH')
energy_var_list.remove('GALLONELSPH')
energy_var_list.remove('GALLONELWTH')
energy_var_list.remove('GALLONELOTH')

attach=['CUFEETNGSPH',
'CUFEETNGWTH',
'CUFEETNGOTH',
'BTUELCOL',
'BTUELRFG',
'BTUWOOD', ]

for item in attach:
    energy_var_list.append(item)


energy_var_list = energy_var_list + electricity_kwh_list

In [63]:
'https://notebook.community/keylime1/courses_12-752/lectures/Lecture4'
print(energy_var_list)

['DOEID', 'BTULPSPH', 'BTULPWTH', 'BTULPOTH', 'BTUNGSPH', 'BTUNGWTH', 'BTUNGOTH', 'BTUFOSPH', 'BTUFOWTH', 'BTUFOOTH', 'BTUKERSPH', 'BTUKERWTH', 'BTUKEROTH', 'BTUELSPH', 'BTUELWTH', 'BTUELOTH', 'GALLONLPSPH', 'GALLONLPWTH', 'GALLONLPOTH', 'GALLONFOSPH', 'GALLONFOWTH', 'GALLONFOOTH', 'GALLONKERSPH', 'GALLONKERWTH', 'GALLONKEROTH', 'CUFEETNGSPH', 'CUFEETNGWTH', 'CUFEETNGOTH', 'BTUELCOL', 'BTUELRFG', 'BTUWOOD', 'KWHSPH', 'KWHWTH', 'KWHOTH', 'KWHCOL', 'KWHRFG']

In [70]:

df_recs = df[energy_var_list]

In [32]:
df_recs.head()

,DOEID,BTULPSPH,BTULPWTH,BTULPOTH,BTUNGSPH,BTUNGWTH,BTUNGOTH,BTUFOSPH,BTUFOWTH,BTUFOOTH,...,CUFEETNGWTH,CUFEETNGOTH,BTUELCOL,BTUELRFG,BTUWOOD,KWHSPH,KWHWTH,KWHOTH,KWHCOL,KWHRFG
0,1,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0,...,0.000,0.000,10470.729,5170.899,0,3186.707,2968.450,7726.545,3068.795,1515.504
1,2,0.0,0.0,0.0,38605.955,30109.973,17179.073,0.0,0.0,0.0,...,293.756,167.601,620.979,4470.477,20000,0.000,0.000,3655.782,181.998,1310.220
2,3,0.0,0.0,0.0,40248.226,7932.978,2966.796,0.0,0.0,0.0,...,77.394,28.944,629.389,3124.320,0,0.000,0.000,1117.878,184.459,915.664
3,4,0.0,0.0,0.0,40195.580,0.000,2034.420,0.0,0.0,0.0,...,0.000,19.848,3627.013,5699.833,0,0.000,1887.531,5393.913,1063.022,1670.534
4,5,0.0,0.0,0.0,36136.283,13883.717,0.000,0.0,0.0,0.0,...,135.451,0.000,0.000,1182.144,0,0.000,0.000,2522.532,0.000,346.468

In [74]:
pd.options.mode.chained_assignment = None  # default='warn'

df_recs['Purpose'] = "a"
for i in range(0, len(df_recs['DOEID'])):
    for column in energy_var_list[1:]:
        new_row=df_recs["Purpose"][i]
        if ((df_recs[column][i]>0) & ('SPH' in column)):
            df_recs["Purpose"][i].replace('a', "Space Heating")
        elif ((df_recs[column][i]>0) & ('WTH' in column)):
            df_recs["Purpose"][i].replace('a', "Water Heating")
        elif ((df_recs[column][i]>0) & ('COL' in column)):
            df_recs["Purpose"][i].replace('a', "Air Conditioner")
        elif ((df_recs[column][i]>0) & ('RFG' in column)):
            df_recs["Purpose"][i].replace('a', "Refridgator")
        elif ((df_recs[column][i]>0) & ('OTH' in column)):
            df_recs["Purpose"][i].replace('a', "Other")
        else:
            None

df_recs = df_recs[['DOEID', 'Purpose','BTULPSPH', 'BTULPWTH', 'BTULPOTH', 'BTUNGSPH', 'BTUNGWTH', 'BTUNGOTH', 'BTUFOSPH', 'BTUFOWTH', 'BTUFOOTH', 'BTUKERSPH', 'BTUKERWTH', 'BTUKEROTH', 'BTUELSPH', 'BTUELWTH', 'BTUELOTH', 'GALLONLPSPH', 'GALLONLPWTH', 'GALLONLPOTH', 'GALLONFOSPH', 'GALLONFOWTH', 'GALLONFOOTH', 'GALLONKERSPH', 'GALLONKERWTH', 'GALLONKEROTH', 'CUFEETNGSPH', 'CUFEETNGWTH', 'CUFEETNGOTH', 'BTUELCOL', 'BTUELRFG', 'BTUWOOD', 'KWHSPH', 'KWHWTH', 'KWHOTH', 'KWHCOL', 'KWHRFG']]
df_recs.head(100)

,DOEID,Purpose,BTULPSPH,BTULPWTH,BTULPOTH,BTUNGSPH,BTUNGWTH,BTUNGOTH,BTUFOSPH,BTUFOWTH,...,CUFEETNGWTH,CUFEETNGOTH,BTUELCOL,BTUELRFG,BTUWOOD,KWHSPH,KWHWTH,KWHOTH,KWHCOL,KWHRFG
0,1,a,0.0,0.000,0.0,0.000,0.000,0.000,0.0,0.0,...,0.000,0.000,10470.729,5170.899,0,3186.707,2968.450,7726.545,3068.795,1515.504
1,2,a,0.0,0.000,0.0,38605.955,30109.973,17179.073,0.0,0.0,...,293.756,167.601,620.979,4470.477,20000,0.000,0.000,3655.782,181.998,1310.220
2,3,a,0.0,0.000,0.0,40248.226,7932.978,2966.796,0.0,0.0,...,77.394,28.944,629.389,3124.320,0,0.000,0.000,1117.878,184.459,915.664
3,4,a,0.0,0.000,0.0,40195.580,0.000,2034.420,0.0,0.0,...,0.000,19.848,3627.013,5699.833,0,0.000,1887.531,5393.913,1063.022,1670.534
4,5,a,0.0,0.000,0.0,36136.283,13883.717,0.000,0.0,0.0,...,135.451,0.000,0.000,1182.144,0,0.000,0.000,2522.532,0.000,346.468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,a,0.0,0.000,0.0,80252.660,35572.340,0.000,0.0,0.0,...,347.047,0.000,4338.518,2048.501,0,0.000,0.000,3581.061,1271.554,600.385
96,97,a,0.0,26212.007,0.0,141836.013,42769.823,8812.164,0.0,0.0,...,417.265,85.972,2045.815,9027.943,0,0.000,0.000,12994.474,599.593,2645.933
97,98,a,0.0,0.000,0.0,66161.019,37365.898,25008.083,0.0,0.0,...,364.545,243.981,3837.890,2989.062,20000,0.000,0.000,4728.105,1124.838,876.057
98,99,a,0.0,0.000,0.0,31016.886,17261.114,0.000,0.0,0.0,...,168.399,0.000,8513.369,8869.459,0,0.000,0.000,5259.406,2495.115,2599.479
99,100,a,0.0,0.000,0.0,6682.349,7031.210,3404.440,0.0,0.0,...,68.595,33.213,1581.660,3787.530,0,0.000,0.000,3273.384,463.557,1110.059